*{
  box-sizing: border-box;
}
:root{
  --black-700:#171010;
  --black-200:#2B2B2B;
  --black-500:#1b1a1a;
}

html,body{
  height: 100%;
}
.action-button{
  padding: 12px;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.bg-dark-black{
  background-color: var(--black-700);
}

.controls{
  width: 81%;
}

#root{
  min-height: 100vh;
}

.option{
  flex: 1;
}

.options-subsection{
  gap: 14px;
}

.full-width{
  width: 100%;
}

.full{
  min-height: 100vh;
}
.flex{
  display: flex;
}
.file{
  width: 43%;
}
.justify-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}

.quiz-card{
  width: 40%;
  margin:auto;
  background-color: var(--black-500);
  color: white;
  padding-top: 16px;
  flex-direction: column;
}

.date{
  width: 213px;
  padding: 12px;
}

.delete-button{
  background-color: red;
  margin-bottom: 20px;
}

.bg-light{
  background-color: var(--black-200);
}

.submit-button{
  background-color: green;
}

.text-white{
  color: white;
}

.question-heading{
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 1.5px;
  font-size: 28px;
}

.question-section,.controls{
  flex-direction: column;
  width: 81%;
}


.question-section input, select,textarea{
  padding: 16px;
  margin-bottom: 12px;
  color: white;
}

.question-section textarea{
  resize: none;
  padding: 21px;
}

.round-border{
  border: none;
  border-radius: 10px;
}

.nav-button{
  flex: 1;
  padding: 12px;
  margin-bottom: 24px;
}



